{{#if success_msg}}
<section class="container">
  <div class="alert alert-success">{{success_msg}}</div>
</section>
{{/if}}

{{#if error_msg}}
<section class="container">
  <div class="alert alert-danger">{{error_msg}}</div>
</section>
{{/if}}