<nav class="navbar bg-dark">
      <h1>
        <a href="/"><i class="fas fa-map-marker-alt"></i> Me Chamou</a>
      </h1>
      <ul>
        <li><a href="/profiles"><i class="fas fa-users"></i>Profissionais</a></li>
        <li><a href="/users/register"><i class="fas fa-user-plus"></i>Cadastar</a></li>
        <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
      </ul>
</nav>